@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
body {
  margin: 0%;
  padding: 0%;
  font-family: "Inter", serif;
  box-sizing: border-box;
}

nav {
  width: 100%;
  background-color: #f5f7fa;
  color: #18191f;
  text-align: center;
  display: flex;
  position: fixed;
  justify-content: space-around;
  align-items: baseline;
  padding-bottom: 10px;
}
.logo {
  display: flex;
  gap: 1.67px;
  height: fit-content;
  align-items: baseline;
}
.logo img {
  width: 35px;
  height: 24px;
  gap: 0px;
  opacity: 0px;
}
.logo h2 {
  font-size: 30px;
  font-weight: bold;
  width: 111.49px;
  height: 20.66px;
  gap: 0px;
  opacity: 0px;
}
li {
  list-style: none;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #18191f;
}
a {
  text-decoration: none;
  color: #18191f;
}

.links {
  display: flex;
  gap: 20px;
}
.login {
  background-color: #f5f7fa;
  width: 77px;
  height: 40px;
  padding: 10px 20px 10px 20px;
  gap: 10px;
  border-radius: 6px;
  opacity: 0px;
  border: none;
  color: #4caf4f;
}
.signup {
  width: Hug (91px) px;
  height: Hug (40px) px;
  padding: 10px 20px 10px 20px;
  gap: 10px;
  border-radius: 6px;
  opacity: 0px;
  border: none;
  background-color: #4caf4f;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

#home {
  display: flex;
  width: Fill (1, 440px) px;
  height: Hug (599px) px;
  padding: 96px 144px 96px 144px;
  gap: 104px;
  opacity: 0px;
  padding: 96px 144px 96px 144px;
  gap: 104px;
  opacity: 0px;
  background-color: #f5f7fa;
  flex-wrap: wrap;
}

#home .left {
  width: Fill (657px) px;
  height: Hug (276px) px;
  gap: 32px;
  opacity: 0px;
}

#home .left h1 {
  font-family: Inter;
  font-size: 64px;
  font-weight: 600;
  line-height: 76px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #4d4d4d;
}
#home h1 span {
  color: #4caf4f;
  font-family: Inter;
  font-size: 64px;
  font-weight: 600;
  line-height: 76px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.left p {
  margin-top: 16px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #717171;
}

#home .left button {
  width: Hug (128px) px;
  height: Hug (52px) px;
  padding: 14px 32px 14px 32px;
  gap: 10px;
  border-radius: 4px;
  opacity: 0px;
  border: none;
  color: white;
  background-color: #4caf4f;
  margin-top: 32px;
}

#home .right {
  width: 391px;
  height: 407px;
  gap: 0px;
  opacity: 0px;
}

#services {
  display: flex;
  flex-direction: column;
  width: Fixed (1, 440px) px;
  height: Hug (190px) px;
  padding: 0px 144px 0px 144px;
  gap: 16px;
  opacity: 0px;
}
#services .top h2 {
  font-family: Inter;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #4d4d4d;
}

#services .top p {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #717171;
}

#services .clients {
  display: flex;
  gap: 136px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#services .top .clients img {
  width: 48px;
  height: 48px;
}

#Feature {
  display: flex;
  flex-direction: column;
  width: Hug (1, 440px) px;
  height: Hug (416px) px;
  gap: 16px;
  opacity: 0px;
}

#Feature .top h2 {
  font-family: Inter;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #4d4d4d;
}

#Feature .top p {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #717171;
}

#Feature .down {
  display: flex;
  gap: 127.5px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

#Feature .down .card {
  display: flex;
  flex-direction: column;
  width: Fixed (299px) px;
  height: Hug (260px) px;
  padding: 24px 32px 24px 32px;
  gap: 8px;
  border-radius: 8px 0px 0px 0px;
  opacity: 0px;
  align-items: center;
  box-shadow: 0px 2px 4px 0px #abbed133;
  margin: 15px;
}

#Feature .down .card .topPart {
  width: Fixed (267px) px;
  height: Hug (144px) px;
  opacity: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#Feature .down .card .topPart img {
  width: 65px;
  height: 56px;
}

#Feature .down .card .topPart h3 {
  width: 267px;
  height: 72px;
  gap: 0px;
  opacity: 0px;

  font-family: Inter;
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #000000;
  margin-bottom: 0px;
}

#Feature .down .card .bottomPart {
  width: Hug (251px) px;
  height: Hug (60px) px;
  gap: 8px;
  opacity: 0px;
}

#Feature .down .card .bottomPart p {
  width: 251px;
  height: 60px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #717171;
}

#Product {
  display: flex;
  flex-direction: column;
  width: Hug (1, 440px) px;
  height: Hug (2, 242.4px) px;
  top: 1411px;
  left: 1px;
  gap: 48px;
  opacity: 0px;
}

#Product .product-first {
  display: flex;
  width: Fixed (1, 440px) px;
  height: Hug (433px) px;
  padding: 0px 144px 0px 144px;
  gap: 0px;
  justify-content: space-between;
  align-items: center;
  opacity: 0px;
}

#Product .product-first .unlock-first {
  width: 442px;
  height: 433px;
  padding: 52px 0.47px 52.01px 0px;
  gap: 0px;
  opacity: 0px;
}

#Product .product-first .unlock-second {
  display: flex;
  flex-direction: column;
  width: Fixed (661px) px;
  height: Hug (268px) px;
  gap: 32px;
  opacity: 0px;
}

#Product .product-first .unlock-second .unlock-second-sub1 {
  width: Fixed (601px) px;
  height: Hug (184px) px;
  gap: 16px;
  opacity: 0px;
}

#Product .product-first .unlock-second .unlock-second-sub1 h2 {
  width: 601px;
  height: 88px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #4d4d4d;
}

#Product .product-first .unlock-second .unlock-second-sub1 p {
  width: 601px;
  height: 80px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #717171;
}

#Product .product-first .unlock-second .unlock-second-sub2 button {
  width: Hug (151px) px;
  height: Hug (52px) px;
  padding: 14px 32px 14px 32px;
  gap: 10px;
  border-radius: 4px;
  opacity: 0px;
  border: none;
  color: white;
  background-color: #4caf4f;
  font-family: Inter;
}

#Product .product-second {
  display: flex;
  flex-wrap: wrap;
  width: Fixed (1, 440px) px;
  height: Hug (288px) px;
  padding: 64px 144px 64px 144px;
  gap: 0px;
  justify-content: space-between;
  opacity: 0px;
  background-color: #f5f7fa;
}

#Product .product-second .product-second-sub1 {
  display: flex;
  flex-direction: column;
  width: Fixed (540px) px;
  height: Hug (120px) px;
  opacity: 0px;
}

#Product .product-second .product-second-sub1 h2 {
  width: 408px;
  height: 88px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #4d4d4d;
  margin: 0px;
  padding: 0px;
}
#Product .product-second .product-second-sub1 span {
  font-family: Inter;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #4caf4f;
}

#Product .product-second .product-second-sub2 p {
  width: 540px;
  height: 80px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #18191f;
  margin: 0px;
  padding: 0px;
}

#Product .product-second .product-second-sub2 {
  display: flex;
  flex-direction: column;
  width: Hug (540px) px;
  height: Hug (160px) px;
  gap: 40px;
  opacity: 0px;
}

#Product .product-second .product-second-sub2 .row1 {
  width: Hug (540px) px;
  height: Hug (60px) px;
  gap: 30px;
  opacity: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#Product .product-second .product-second-sub2 .row2 {
  width: Hug (540px) px;
  height: Hug (60px) px;
  gap: 30px;
  opacity: 0px;
  display: flex;
}

#Product .product-third {
  width: Hug (1, 440px) px;
  height: Hug (433.4px) px;
  gap: 0px;
  opacity: 0px;
  align-items: center;
  justify-content: center;
}

#Product .product-third .product-third-main {
  display: flex;
  width: Fixed (1, 440px) px;
  height: Hug (433.4px) px;
  padding: 0px 144px 0px 144px;
  gap: 0px;
  justify-content: space-between;
  align-items: center;
  opacity: 0px;
}

#Product .product-third-sub1 {
  width: 441.53px;
  height: 433.4px;
  gap: 0px;
  opacity: 0px;
  padding: 10px;
}

#Product .product-third-sub2 {
  display: flex;
  flex-direction: column;
  width: Fixed (661px) px;
  height: Hug (308px) px;
  gap: 32px;
  opacity: 0px;
}

#Product .product-third-sub2 .firstPart h2 {
  width: 601px;
  height: 88px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #4d4d4d;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#Product .product-third-sub2 .firstPart p {
  width: 601px;
  height: 120px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #717171;
  margin: 0px;
  padding: 0px;
}

#Product .product-third-sub2 .lastPart button {
  width: Hug (151px) px;
  height: Hug (52px) px;
  padding: 14px 32px 14px 32px;
  gap: 10px;
  border-radius: 4px;
  opacity: 0px;
  border: none;
  color: white;
  background-color: #4caf4f;
  font-family: Inter;
  font-size: 16px;
}

#Product .product-fourth {
  background-color: #f5f7fa;
  display: flex;
  flex-wrap: wrap;
  width: Fixed (1, 440px) px;
  height: Hug (390px) px;
  padding: 32px 144px 32px 144px;
  gap: 78px;
  opacity: 0px;
  align-items: center;
  justify-content: baseline;
}

#Product .product-fourth .product-fourth-sub1 {
  width: 326px;
  height: 326px;
  gap: 0px;
  border-radius: 8px 0px 8x 0px;
  padding: 0%;
  opacity: 0px;
}
#Product .product-fourth .product-fourth-sub1 img {
  width: 326px;
  height: 326px;
  filter: drop-shadow(0px 8px 16px 0px #abbed166);
}

#Product .product-fourth .product-fourth-sub2 {
  display: flex;
  flex-direction: column;
  width: Fill (748px) px;
  height: Hug (324px) px;
  gap: 32px;
  opacity: 0px;
}

#Product .product-fourth .product-fourth-sub2 .partOne {
  display: flex;
  flex-direction: column;
  width: Fill (748px) px;
  height: Hug (244px) px;
  gap: 16px;
  opacity: 0px;
}

#Product .product-fourth .product-fourth-sub2 .partOne p {
  width: 748px;
  height: 168px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #717171;
  margin: 0px;
  padding: 0px;
}

#Product .product-fourth .product-fourth-sub2 .partOne h4 {
  width: 748px;
  height: 28px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #4caf4f;
  margin: 0px;
  padding: 0px;
}

#Product .product-fourth .product-fourth-sub2 .partOne span {
  width: 748px;
  height: 24px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #89939e;
}

#Product .product-fourth .product-fourth-sub2 .partTwo {
  width: Fill (748px) px;
  height: Hug (48px) px;
  gap: 32px;
  opacity: 0px;
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}

#Product .product-fourth .product-fourth-sub2 .partTwo .partTwo-sub1 {
  width: Hug (493px) px;
  height: Hug (48px) px;
  gap: 41px;
  opacity: 0px;
  display: flex;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

#Product .product-fourth .product-fourth-sub2 .partTwo .partTwo-sub1 img {
  width: 48px;
  height: 48px;
  padding: 0.19px 7.65px 7.81px 0.35px;
  gap: 0px;
  border-radius: 8px 0px 0px 0px;
  opacity: 0px;
}

#Product .product-fourth .product-fourth-sub2 .partTwo .partTwo-sub2 {
  width: Fill (223px) px;
  height: Hug (44px) px;
  padding: 8px 0px 0px 0px;
  gap: 8px;
  opacity: 0px;
  display: flex;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

#Product .product-fourth .product-fourth-sub2 .partTwo .partTwo-sub2 h4 {
  width: 188px;
  height: 28px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #4caf4f;
  margin: 0px;
  padding: 0px;
}

#Product .product-fourth .product-fourth-sub2 .partTwo .partTwo-sub2 img {
  width: 24px;
  height: 24px;
  padding: 8px 5px 8px 4.41px;
  gap: 0px;
  opacity: 0px;
  margin-left: -17px;
}

#Product .product-five {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: Hug (1, 440px) px;
  height: Hug (506px) px;
  gap: 16px;
  opacity: 0px;
}

#Product .product-five .product-five-first {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: Fixed (1, 110px) px;
  height: Hug (124px) px;
  gap: 8px;
  opacity: 0px;
  margin: 0px;
  padding: 0px;
}

#Product .product-five .product-five-first h2 {
  width: 1110px;
  height: 44px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #4d4d4d;
  margin: 0px;
  padding: 0px;
}

#Product .product-five .product-five-first p {
  width: 628px;
  height: 72px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #717171;
  margin: 0px;
  padding: 0px;
}

#Product .product-five .product-five-second {
  display: flex;
  width: Fixed (1, 440px) px;
  height: Hug (366px) px;
  padding: 0px 144px 0px 144px;
  gap: 24px;
  justify-content: space-between;
  opacity: 0px;
}

#Product .product-five .product-five-second .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: Hug (368px) px;
  height: Hug (366px) px;
  gap: 0px;
  opacity: 0px;
}

#Product .product-five .product-five-second .card img {
  width: 368px;
  height: 286px;
  gap: 0px;
  border-radius: 8px 0px 0px 0px;
  opacity: 0px;
  margin: 0px;
  padding: 0px;
}

#Product .product-five .product-five-second .card .content {
  background: #f5f7fa;
  box-shadow: 0px 8px 16px 0px #abbed166;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 317px;
  height: Hug (176px) px;
  padding: 16px 0px 0px 0px;
  gap: 16px;
  border-radius: 8px;
  opacity: 0px;
  margin: -25%;
}

#Product .product-five .product-five-second .card .content h4 {
  width: 285px;
  height: 84px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #717171;
  margin: 0px;
  padding: 0px;
}

#Product .product-five .product-five-second .card .content .content-sub {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: Fill (285px) px;
  height: Hug (44px) px;
  padding: 8px 0px 0px 0px;
  gap: 8px;
  opacity: 0px;
  margin: 0px;
}

#Product .product-five .product-five-second .card .content .content-sub h4 {
  width: 99px;
  height: 28px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #4caf4f;
  margin: 0px;
  padding: 0px;
}

#Product .product-five .product-five-second .card .content .content-sub img {
  width: 24px;
  height: 24px;
  padding: 8px 5px 8px 4.41px;
  gap: 0px;
  opacity: 0px;
  margin-left: -13px;
}

#FAQ {
  display: flex;
  flex-direction: column;
  width: Hug (1, 440px) px;
  height: Hug (628px) px;
  top: 3748px;
  gap: 0px;
  opacity: 0px;
  margin-top: 7%;
}
#FAQ .footer-first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: Fixed (1, 440px) px;
  height: Hug (300px) px;
  padding: 32px 0px 32px 0px;
  gap: 32px;
  opacity: 0px;
  background-color: #f5f7fa;
}

#FAQ .footer-first h1 {
  width: 887px;
  height: 152px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 64px;
  font-weight: 600;
  line-height: 76px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #4d4d4d;
  margin: 0px;
  padding: 0px;
}

#FAQ .footer-first button {
  width: Hug (178px) px;
  height: Hug (52px) px;
  padding: 14px 32px 14px 32px;
  gap: 8px;
  border-radius: 4px;
  opacity: 0px;
  border: none;
  color: white;
  background-color: #4caf4f;
  font-family: Inter;
}

#FAQ .footer-sec {
  display: flex;
  width: Hug (1, 440px) px;
  height: Hug (328px) px;
  padding: 64px 165px 64px 165px;
  gap: 125px;
  opacity: 0px;
  background-color: #263238;
  color: white;
}

#FAQ .footer-sec .partOne {
  display: flex;
  flex-direction: column;
  width: Hug (350px) px;
  height: Hug (189.67px) px;
  gap: 40px;
  opacity: 0px;
  color: white;
}

#FAQ .footer-sec .partOne .footer-logo {
  display: flex;
  width: Hug (191px) px;
  height: Hug (29.67px) px;
  gap: 9.89px;
  opacity: 0px;
  padding: 0px;
  margin: 0px;
  align-items: center;
}

#FAQ .footer-sec .partOne .footer-logo img {
  width: 43.27px;
  height: 29.67px;
  gap: 0px;
  opacity: 0px;
  margin: 0px;
  padding: 0px;
}
#FAQ .footer-sec .partOne .footer-logo h2 {
  width: 137.84px;
  height: 25.54px;
  gap: 0px;
  opacity: 0px;
  color: #ffffff;
  margin: 0px;
  padding: 0px;
}

#FAQ .footer-sec .partOne .copyright {
  display: flex;
  flex-direction: column;
  width: Hug (350px) px;
  height: Hug (48px) px;
  gap: 8px;
  opacity: 0px;
  margin: 0px;
  padding: 0px;
}

#FAQ .footer-sec .partOne .copyright p {
  width: 350px;
  height: 20px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #f5f7fa;
  margin: 0px;
  padding: 0px;
}

#FAQ .footer-sec .partOne .socialLinks {
  display: flex;
  width: Hug (176px) px;
  height: Hug (32px) px;
  gap: 16px;
  opacity: 0px;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

#FAQ .footer-sec .partOne .socialLinks img {
  width: 32px;
  height: 32px;
  gap: 0px;
  opacity: 0px;
  margin: 0px;
  padding: 0px;
}

#FAQ .footer-sec .partTwo {
  display: flex;
  width: Hug (635px) px;
  height: Hug (200px) px;
  gap: 30px;
  opacity: 0px;
  margin: 0px;
  padding: 0px;
  color: white;
}

#FAQ .footer-sec .partTwo .footer-list-1 {
  display: flex;
  flex-direction: column;
  width: Hug (160px) px;
  height: Hug (200px) px;
  gap: 24px;
  opacity: 0px;
  color: white;
  margin: 0px;
  padding: 0px;
}

#FAQ .footer-sec .partTwo .footer-list-1 h3 {
  width: 160px;
  height: 28px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
  margin: 0px;
}

#FAQ .footer-sec .partTwo .footer-list-1 li {
  width: 160px;
  height: 20px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #f5f7fa;
  list-style: none;
  margin-top: 0px;
  margin-bottom: -10px;
  padding: 0px;
}

input {
  width: 255px;
  height: 40px;
  top: 52px;
  gap: 0px;
  border: none;
  border-radius: 6px;
  opacity: 0.2px;
  padding: 15px;
  background-color: #89939e;
}

input::placeholder {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #d9dbe1;
}

#FAQ .footer-sec .partTwo .footer-list-1 img {
  width: 18px;
  height: 18px;
  padding: 1.75px;
  gap: 0px;
  opacity: 0px;
}
.search-container {
  position: relative;
  display: inline-block;
}

.search-container img {
  position: absolute;
  left: 88%;
  top: 50%;
  transform: translateY(-50%);
  width: 20px; 
}
